{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "importOrderParserPlugins": [
        "typescript",
        "classProperties",
        ["decorators", { "version": "legacy" }]
    ]
}
